@import "color.scss";

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
        margin: 0 1%;
    }
}

/* Carousel */
.carousel-control{
  &.left {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.1) 100%)!important;
  }
  &.right {
      background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.1) 100%)!important;
  }
}

.img-responsive{
    width:100%;
    height:auto;
}
.carousel-inner{
    .item{
        .col-md-15.col-lg-15.col-xs-12{
            &:first-of-type {
                margin-left: -5%;        
            }
            &:nth-of-type(5){
                margin-right: -5%;        
            }
        }
    }
}

@media (min-width: 992px ) {
    .carousel-inner .active.left {
        left: -25%;
    }
    .carousel-inner .next {
        left:  25%;
    }
    .carousel-inner .prev {
        left: -25%;
    }
}

@media (min-width: 768px) and (max-width: 991px ) {
    .carousel-inner .active.left {
        left: -33.3%;
    }
    .carousel-inner .next {
        left:  33.3%;
    }
    .carousel-inner .prev {
        left: -33.3%;
    }
    .active > div:first-child {
        display:block;
    }
    .active > div:first-child + div {
        display:block;
    }
    .active > div:last-child {
        display:none;
    }
}

@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }
    .carousel-inner .next {
        left:  100%;
    }
    .carousel-inner .prev {
        left: -100%;
    }
    .active > div {
        display:none;
    }
    .active > div:first-child {
        display:block;
    }
}


/* Universal Buttons */
.img-holder{
    display: block;
    text-indent: -999px;
    overflow: hidden;  
}

.btn.btn-primary{
    border-radius: 0;
    width: 240px;
    padding: 20px 0;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;

}
.btn-circle{
    display: block;
    border: 2px solid $site-grey;
    margin: 5px auto;
    border-radius: 15px;
    font-size: 13px;
    height: 26px;
    width: 26px;
    text-align: center;
    padding: 3px 0 0;
    color: $site-grey;
    &:hover{
    }
}

h2{
    color: $statement-1;
    span{
        color: $statement-2;
    }
}
a{
    text-decoration: none;
}

h3 a{
    color: $site-grey;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Sections */
.homepage{
    .jumbotron {
        height: 509px;
        background: url('/images/hero.jpg') no-repeat 0 0/100%;
        position: relative;
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        h2 {
            color: white;
            z-index: 1000;
            top: 10%;
            position: absolute;
            width: 23%;
            line-height: 1.4em;
            font-size:36px;
        }
        .background-1,
        .background-2,
        .background-3{
            position: absolute;
            opacity: .3;
        }

        .background-1{
            background: $jumbo-background-1;
            width: 48%;
            height: 58%;
            top: 0;
        }
        .background-2{
            background: $jumbo-background-2;
            width: 43%;
            height: 65%;
            top: 10%;
        }
        .background-3{
            background: $jumbo-background-3;
            width: 36%;
            height: 100%;
            bottom: 0;
        }
        @media (max-width: 1200px) {
            height: 409px;
            h2{
                top: 7%;
                font-size: 30px
            }
        }
        @media (max-width: 992px ) {
            height: 309px;
            h2{
                top: 9%;
                font-size:24px;
            }
        }
        @media (max-width: 768px) {
            height: 250px;
            h2{  
                width: 100%;
                top: 0;
                padding: 0 2%;
                font-size:24px;
            }
            .background-2,
            .background-3{
                display: none;
            }
            .background-1{
                background: none;
                width: 100%;
                height: 50%;
                top: 0;
                background-image: linear-gradient(to bottom, rgba($jumbo-background-1, 1) 60%, rgba(white, 0.1) 100%);
            }

        }

    }
    .statement-section,
    .news-section{
        margin: 4% auto;
    }
    .statement-section{
        h2{
          text-align: left;
          font-size: 40px;
          width: 90%;
          margin-bottom: 20px;
        }
        p{
           margin-bottom: 20px;
        }
    }
    .true-partner-section{
        background:  $statement-background;
        .col-sm-6.col-md-4{
            position: relative;
            h2.statement{
                margin-top: 50%;
                display: block;
                width: 80%;
                text-align: left;
            }
            .caption{
                margin: 10% auto;
                text-align: center;
                .government-bg{
                    background: url(/images/true-1.png) no-repeat 0 0/100%;
                    width: 296px;
                    height: 185px;
                }
                .higher-education-bg{
                    background: url(/images/true-2.png) no-repeat 0 0/100%;
                    width: 296px;
                    height: 185px;

                }
                p{
                    font-size: 12px;
                    line-height: 1.6em;                
                }  
                 &:hover{
                    h3 a{
                        color: black;
                        text-decoration: none;
                    }
                    .btn-circle{
                        border-color: $circle-btn-hover;
                        color: $circle-btn-hover;
                    }
                }       
            }
        }
    }
    .power-partner-section{
        background:  $true-partner-background;
        text-align: center;
        .content-wrap{
            margin: 4% auto;
        }
        h2{
            color: white;
            padding: 10px 0;
        }
        .btn.btn-primary{
            background: $jumbo-background-2;
            box-shadow: 10px 10px 0 $true-partner-btn-shadow;
        }
    }
    .news-section{
        h2{
            color: $site-grey;
            span{
                color: black;
            }
        }
        .caption{
            h3 a{
                font-size: 16px;
            }
            .item-date{
                margin-bottom: 10px;
                display: block;
            }
            span, p{
                font-size: 12px;
            }
            &:hover{
                h3 a{
                    color: black;
                }
                .btn-circle{
                    border-color: $circle-btn-hover;
                    color: $circle-btn-hover;
                }
            }
        }
        .btn.btn-primary{
            background: $site-grey;
            box-shadow: 10px 10px 0 $site-grey-hover;
            margin-top: 40px;
        }
    }
}


