/* ------- Nav ------- */

$nav-color: #62656a;
$nav-dropdown: #414347;
$nav-dropdown-hover: #b1b2b5;


/* ------- Background ------- */

$jumbo-background-1: #80a6d3;
$jumbo-background-2: #00247f;
$jumbo-background-3: #3575c0;

/* ------- Section ------- */
$statement-background: #edf1f5;
$statement-1: #a5bede;
$statement-2: #003799;

$site-grey: #546369;
$site-grey-hover: #cbd0d2;


$true-partner-background: #3575c0;
$true-partner-btn-shadow: #255dac;

$footer-background: #002337;

/* ------- Btn ------- */
$circle-btn-hover: #eaa621;
$statement-sect-btn: #0199b1;
$statement-sect-btn-hover: #ebb54c;