@import "color.scss";
/* Custom page footer */
.footer {
	padding-top: 19px;
	font-size: 12px;
	color: $site-grey-hover;
	background: $footer-background;
	border-top: 1px solid #e5e5e5;
	ul{
		text-align: center;  	
		li{
			list-style-type: none;
			display: inline-block;
			a{
				padding: 5px 10px;
				display: block;
				color: white;
				&:hover{
				  color: $site-grey-hover;
				  text-decoration: none;
				}
			}
		}
	}
	.footer-section-primary{
		text-transform: uppercase;
		font-weight: 600;
	}
	.footer-section-second{
		li{
			font-weight: 200;
			border-right: 1px solid white;
			&:last-of-type{
				border: none;
			}
		}
	}
	.footer-section-copyright{
		p, .equal-housing{
			text-align: center;
			margin: 20px auto;			
			display: block;
			color: $site-grey-hover;
		}
        .equal-housing{
            background: url(/images/footer-equalhousing.jpg) no-repeat 0 0/100%;
            width: 50px;
            height: 51px;

        }

	}
}
