
@import "color.scss";
.header{
  .search-section{
    width: 266px;
    clear: right;
    @media (max-width: 992px) {
        width: 100%;
        clear: both;
    }
    .input-group{
      width: 100%;
    }
    input,
    .search-button{
      vertical-align: bottom;
      display: inline-block;
    }
    input{
      width: 60%;
      height: 25px;
    }
    .search-button{
      width: 40%;
      height: 32px;
      margin-left: -1px;
      padding-top: 6px;
      background: $search-background;
      a{
        text-decoration: none;
      }
      .search-click,
      .header-contact{
        display: inline-block;
      }
      .search-click{
        width: 24px;
        height: 25px;
        background: gray;
        padding: 5px;
        background: $search-button;
        color: white;
        &:hover{
          background: $site-grey;          
        }
      }
      .header-contact{
        @media (max-width: 992px) {
          width: 86%;
        }

        text-align: center;
        text-transform: uppercase;
        font-size: 12px;    
        width: 68%;
        color: $site-grey;          
        &:hover{
          color: white;          
        }

      }
    }
  }
  .logo-corvias{
      background: url(/images/logo-corvias.png) green no-repeat 0 0/100%;
      width: 204px;
      height: 68px;
  }

  .nav.navbar-nav{

    li{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      a{
        color: $nav-color;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 14px;
        margin-top: 4px;
        &:hover{
          color: $nav-dropdown;
        }
      }
    }
    @media (max-width: 992px) {
      width: 100%;
      clear: both;
      float: none;
      li a{
        padding: 10px;
      }
    }
    .dropdown-menu{
      background: $nav-dropdown;
      z-index: 10000;
      li{
        a{
          background: $nav-dropdown;
          color: white;
          &:hover{
            color: $nav-dropdown-hover;
          }
        }
      }
    }
  }  
  .navbar-toggle{
    .icon-bar{
      background: $nav-color;
    }
    &:hover .icon-bar{
      background: $nav-dropdown;
    }

  }

}
